<html>

<head>
    <script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
    <link rel="stylesheet" href="/styles.css" />
</head>

<body>
    
       
    <h1>Covid 19 Analyzer</h1>
    <div id="chart" class="box"></div>
    <p>chart stuff</p>
    <br/>
    <div id="linechart" class="box"></div>
    {{{ body }}}
   

</div>

    
</body>

<script>
    var testjson = JSON.parse({{{ json chartData }}});
    console.log(testjson);

    seriesData = []

    for (var json in testjson) { // this is test bar chart
        seriesData.push({ x: testjson[json].Date, y: testjson[json]["Daily Confirmed"]})
    }

    var options = {
        chart: {
            height: 350,
            type: 'bar',
            foreColor: '#FFFFFF'

        },
        dataLabels: {
            enabled: false
        },
        series: [],
        title: {
            text: 'Monthly Cases',
        },
        noData: {
            text: 'Loading...'
        }
    }

    var chart = new ApexCharts(
        document.querySelector("#chart"),
        options
    );

    chart.render();

    chart.updateSeries([{
        name: 'Daily Cases',
        data: seriesData
    }])

</script>


</html>