<html>
    <link rel="stylesheet" href="/home.css" />

   <div class="topbar">
        <div class="logo"></div>
        <div class="nav">
            <a class="links" href="./">Home</a>
        </div>
    </div>
    
</html>