<html>
    <link rel="stylesheet" href="/home.css" />

   <div class="topbar">
        <div class="logo"></div>
        <div class="nav">
            <a class="links" href="/about">About Us</a>
            <a class="links" href="/data">Datasets</a>
            <a class="links" href="/reference">References</a>
        </div>
    </div>
    
</html>