body {
  color: #000;
  font-family: Montserrat, Arial, sans-serif;
}

.chart-wrapper {
  padding-top: 65px;

  float: left;
  width: 33%;
  text-align: center;
}

.body-bg {
  background: #F3F4FA !important;
}

h1, h2, h3, h4, h5, h6, strong {
  font-weight: 600;
}

.content-area {
  max-width: 1280px;
  margin: 0 auto;
}

.box {
  background-color: #2B2D3E;
  padding: 25px 20px;
}

.shadow {
  box-shadow: 0px 1px 15px 1px rgba(69, 65, 78, 0.08);
}
.sparkboxes .box {
  padding-top: 10px;
  padding-bottom: 10px;
  text-shadow: 0 1px 1px 1px #666;
  box-shadow: 0px 1px 15px 1px rgba(69, 65, 78, 0.08);
  position: relative;
  border-radius: 5px;
}

.sparkboxes .box .details {
  position: absolute;
  color: #fff;
  transform: scale(0.7) translate(-22px, 20px);
}
.sparkboxes strong {
  position: relative;
  z-index: 3;
  top: -8px;
  color: #fff;
}

.monthlybutton_color{
  background-color: #0396FF;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

.monthlybutton_color:hover {
  background-color: #555555;
  color: white;
}


.sumbutton_color{
  background-color: #FD6585;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

.sumbutton_color:hover {
  background-color: #555555;
  color: white;
}

.dd{
  background-position: 10px 12px;
  background-repeat: no-repeat;
  width: 100%;
  font-size: 16px;
  padding: 12px 20px 12px 40px;
  border: 3px solid rgb(0, 0, 0);
  margin-bottom: 5px;
  margin-top: 30px;
}
.dailybutton_color{
  background-color: #5961F9;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

.dailybutton_color:hover {
  background-color: #555555;
  color: white;
}

.sparkboxes .box1 {
  background-image: linear-gradient( 135deg, #ABDCFF 10%, #0396FF 100%);
}

.sparkboxes .box2 {
  background-image: linear-gradient( 135deg, #2AFADF 10%, #4C83FF 100%);
}

.sparkboxes .box3 {
  background-image: linear-gradient( 135deg, #FFD3A5 10%, #FD6585 100%);
}

.sparkboxes .box4 {
  background-image: linear-gradient( 135deg, #EE9AE5 10%, #5961F9 100%);
}

/* fusionexport btn CSS START */
#fusionexport-btn {
  min-width: 169px;
  min-height: 38px;
  text-align: center;
}

#fusionexport-btn .span {
  display: inline-block;
}

.spinner-border {
  display: none;
}

#fusionexport-btn[disabled] {
  cursor: wait;
}

#fusionexport-btn[disabled] .spinner-border {
  display: inline-block;
}

#fusionexport-btn[disabled] .btn-text {
  display: none;
}
/* fusionexport btn CSS START */
.apexcharts-tooltip {
  background: #f3f3f3;
  color: orange;
  font: bold;
  font-size:12px
}

.apexcharts-toolbar{
  background: #f3f3f3;
  color: orange;
  font: bold;
  font-size:12px
}